.gallery {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  background-color: #000;
  border-bottom: 2px solid gold;
}

.gallery h1 {
  font-size: 2rem;
  color: gold;
  margin-bottom: 20px;
}

.gallery-carousel {
  width: 80%;
  max-width: 800px;
}

.gallery-carousel .carousel-item img {
  max-height: 600px;
  object-fit: cover;
}
