.siteplan-container {
    background-color: black;
    color: white;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    border-bottom: 1px solid gold;
  }
  
  .header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    position: absolute;
    top: 20px; /* Space from the top */
  }
  
  .back-button {
    position: absolute;
    right: 20px; /* Positioning the cross image to the right */
  }
  
  .back-button img {
    width: 30px;
    height: 30px;
  }
  
  h1 {
    font-size: 2.5rem;
    margin: 0;
    color: goldenrod;
  }
  
  .siteplan-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px; 
  }
  
  .siteplan-image {
    border: 3px solid gold;
    padding: 10px;
    max-width: 50%;
    height: auto;
  }
  